<form ng-submit="login(credentials)" novalidate name="form">
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" id="email" class="form-control" ng-model="credentials.email" value="">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password"  class="form-control" ng-model="credentials.password">
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
</form>