server {
  server_name {{ project_name }}.{{ vagrant_domain }} www.{{ project_name }}.{{ vagrant_domain }};

  access_log  /var/www/budget/logs/nginx_access.log;
  error_log  /var/www/budget/logs/nginx_error.log info;



  location / {
    proxy_pass http://localhost:8000;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
  }
  location /static {
    root  /var/www/budget/flask/;
  }
}
